<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script  src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
   .speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	width: 200px; padding-left: 5px
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
    </style>
    </head>
<body>
   <div class='container'>
       {% for m in messages %} 
<hgroup class="speech-bubble">
	{{ m[2] }}: {{ m[1] }}
</hgroup>
	   <br>
       {% endfor %}
   </div>
    <div class="container" id="messages"></div>
    <form id="messageForm">
        <textarea id="message"></textarea>
        <button type="button" id="button">Send Message</button>
    </form>
    <script>
        window.onload = e => {
            $("#messageForm").submit(e => {
                e.preventDefault();
            })

            var socket = io.connect(location.protocol + "//" + document.domain + ":" + location.port)

            socket.on("connect", () => {
                var button = document.getElementById("button")
                button.onclick = () => {
                    var message = document.getElementById("message").value;
                    console.log(message)
                    if (message.trim() === "" ) {
                        alert("you cannot send an empty message")
                    }
                    else {
                        document.getElementById("message").value = " "
                        socket.emit('broadcast message', {'message': message, 'email': '{{ session.get("user_id") }}'})

                    }
                    
                }
            })

            socket.on("show message", data => {
                var message=document.createElement("span")
               message.innerHTML=`<p> ${data.email}: ${data.message}</p>`
                $("#messages").append(message)
            })
        }
    </script>
</body>
</html>
